export CLOUDSDK_ACTIVE_CONFIG_NAME=inctore--kintai
export GOOGLE_USER=hotoku@inctore.com
export PROJECT_ID=kintai-prd


if ! gcloud config configurations list | awk '{print $1}' | grep $CLOUDSDK_ACTIVE_CONFIG_NAME; then
    echo creating ${CLOUDSDK_ACTIVE_CONFIG_NAME}
    gcloud config configurations create ${CLOUDSDK_ACTIVE_CONFIG_NAME}
else
    echo configuration ${CLOUDSDK_ACTIVE_CONFIG_NAME} exists
fi
gcloud config set project ${PROJECT_ID}
gcloud config set account ${GOOGLE_USER}
export GOOGLE_APPLICATION_CREDENTIALS=${HOME}/.config/gcloud/legacy_credentials/${GOOGLE_USER}/adc.json
