export DATABASE_NAME=kintai_dev
export MYSQL_ROOT_PASSWORD=$(myps -P 233)
export MYSQL_USER_NAME=kintai_dev
export MYSQL_USER_PASSWORD=$(myps -P 278)


export KINTAI_SYNC_DATA_PATH=$(pwd)
export KINTAI_PORT=10080
