<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>KINTAI_SYNC_DATA_PATH</key>
		<string>{{KINTAI_SYNC_DATA_PATH}}</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>info.hotoku.kintai</string>
	<key>Program</key>
	<string>{{pwd}}/run</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>{{pwd}}/log/stderr</string>
	<key>StandardOutPath</key>
	<string>{{pwd}}/log/stdout</string>
	<key>WorkingDirectory</key>
	<string>{{pwd}}/server</string>
</dict>
</plist>
