<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>info.hotoku.kintai</string>
	<key>Program</key>
	<string>/Users/hotoku/projects/hotoku/kintai/release/run</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/hotoku/projects/hotoku/kintai/release/log/stderr</string>
	<key>StandardOutPath</key>
	<string>/Users/hotoku/projects/hotoku/kintai/release/log/stdout</string>
	<key>WorkingDirectory</key>
	<string>/Users/hotoku/projects/hotoku/kintai/release</string>
</dict>
</plist>
